*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
.container{
	min-height: 100vh;
	width: 100%;
	background-color: #2f323b;
	display: flex;
	justify-content: center;
}
.main_list{
	width: 500px;
	background-color: #0e0d13;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	margin: 20px 50px;
	padding-top: 20px;
	box-shadow: 0 0 25px 20px #504f56;

}
@media(max-width: 991px){
	.main_list{
		height: auto;
		width: 95%;
		background-color: #0e0d13;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 20px 50px;
		padding-top: 20px;
	}	
}
@media(max-width: 762px){
	.main_list{
		height: auto;
		width: 100%;
		background-color: #0e0d13;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 20px 50px;
		padding-top: 20px;
	}	
}
@media(max-width: 544px){
	.main_list{
		height: auto;
		width: 100%;
		background-color: #0e0d13;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 20px 20px;
		padding-top: 15px;
	}	
}
.header_list{
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	margin-top: 20px;
}
.list_title{
	font-size: 35px;
	color: #a96a10;
	font-family: 'Permanent Marker';
}
@media(max-width: 991px){
	.list_title{
		font-size: 80px;
		color: #a96a10;
		font-family: 'Permanent Marker';
	}
}
.info_list{
	width:85%;
	padding: 10px 30px 30px 30px;
}
@media(max-width: 544px){
	.info_list{
		height: 500px;
		width:100%;
	}
}
@media(max-width: 991px){
	.info_list{
		width:100%;
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.black_line{
	height: 2px;
	width: 75%;
	margin: 0 auto;
	background-color: #2f323b;
	margin-top: 20px;
}
@media(max-width: 991px){
	.black_line{
		height: 2px;
		width: 85%;
		margin: 0 auto;
		background-color: #2f323b;
		margin-top: 20px;
	}	
}
.task{
	height: 60px;
	width: 100%;
	background-color: #1f1e2c;
	margin: 20px 0;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 30px;
}
@media(max-width: 991px){
	.task{
		height: 130px;
		width: 90%;
		background-color: #1f1e2c;
		margin: 10px 0;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 20px;
		padding-left: 30px;
		margin: 10px;
	}	
}

.taskP,
.taskName{
	font-size: 35px;
	font-family: 'Trade Winds';
	color: #a96a10;
	overflow: auto;
	margin-right: 30px;
}
@media(max-width: 991px){
	.taskP,
	.taskName{
		margin-left: 35px;
		font-size: 55px;
		font-family: 'Trade Winds';
		color: #a96a10;
		overflow: auto;
		margin-right: 30px;
	}	
}
.change{
	height: 40px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
@media(max-width: 991px){
	.change{
		height: 60px;
		width: 110px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
	}
}
.img_cross{
	height: 30px;
	width: 35px;
	margin-right: 7px;
}
@media(max-width: 991px){
	.img_cross{
		height: 50px;
		width: 50px;
	}
}
.img_pen{
	height: 30px;
	width: 35px;
	margin-right: 7px;
}
@media(max-width: 991px){
	.img_pen{
		height: 50px;
		width: 50px;
		margin-right: 7px;
	}
}
.plus{
	height: 30px;
	width: 30px;
}
.block_plus{
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
    background: linear-gradient(145deg, #4b475d, #0e0d13);
    box-shadow: 9px 9px 18px #242426, -9px -9px 18px #3e3c44
}
@media(max-width: 991px){
	.block_plus{
		height: 80px;
		width: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 12px;
	    background: linear-gradient(145deg, #4b475d, #0e0d13);
	    box-shadow: 9px 9px 18px #242426, -9px -9px 18px #3e3c44
	}
}
@media(max-width: 991px){
	.plus{
		height: 60px;
		width: 60px;
	}
}
.taskInput{
	height: 35px;
	width: 250px;
	background-color: #2f323b;
	border-radius: 10px;
	border: none;
	text-decoration: none;
	outline: none;
	padding-left: 5px;
	color: #a96a10;
	font-size: 30px;
}
@media(max-width: 442px){
	.taskInput{
		height: 30px;
		width: 150px;
		background-color: #2f323b;
		border-radius: 10px;
		border: none;
		text-decoration: none;
		outline: none;
		padding-left: 5px;
		color: #a96a10;
		font-size: 3030px;
	}	
}
@media(max-width: 991px){
	.taskInput{
		height: 60px;
		width: 400px;
		background-color: #2f323b;
		border-radius: 10px;
		border: none;
		text-decoration: none;
		outline: none;
		padding-left: 5px;
		color: #a96a10;
		font-size: 40px;
	}	
}
.task button{
	height: 40px;
	width: 80px;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: #2f323b;
	cursor: pointer;
	color: #a96a10;
	font-size: 22px;
	margin-right: 10px;
	border-radius: 7px;
}
@media(max-width: 991px){
	.task button{
		height: 60px;
		width: 120px;
		border: none;
		outline: none;
		text-decoration: none;
		background-color: #46698c;
		cursor: pointer;
		color: #8bb1d5;
		font-size: 35px;
	}	
}
.name_task{
	color: #8bb1d5;
	font-size: 22px;
}
@media(max-width: 991px){
	.name_task{
		color: #8bb1d5;
		font-size: 50px;
	}	
}
.tick{
	height: 30px;
	width: 30px;
	margin-right: 20px;
}
@media(max-width: 991px){
	.tick{
		height: 50px;
		width: 60px;
	}	
}
.motivateText{
	font-size: 26px;
	color: #a96a10;
	margin: 0 auto;
}
@media(max-width: 991px){
	.motivateText{
		font-size: 40px;
		color: #a96a10;
		margin: 0 auto;
	}
}
/*scrollbar*/
.container::-webkit-scrollbar{
	width: 15px;
}
.container::-webkit-scrollbar-track{
	background-color: #1f1e2c;
}
.container::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #a96a10;
	border: 3px solid #1f1e2c
}
.taskP,
.taskName::-webkit-scrollbar{
	height: 5px;
	width: 3px;
}
.taskP,
.taskName::-webkit-scrollbar-track{
	background-color: #1f1e2c;
}
.taskP,
.taskName::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #a96a10;
}

